<link rel="stylesheet" type="text/css" href="/static/css/stiil.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="description" content="Web applications course project - Tron Online">
<meta name="keywords" content="Forum, Statistics, Tron">
<meta name="author" content="Tron-Online">

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript">
    if (!window.jQuery) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'static/js/jquery-1.7.1.js';

        var firstScript = document.getElementsByTagName('script')[0];
        firstScript.parentNode.insertBefore(script, firstScript);
    }
</script>
<script src="/static/js/update.js"></script>
