<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/stiil.css"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Web applications course project - Tron Online">
    <meta name="keywords" content="Forum, Statistics, Tron">
    <meta name="author" content="Tron-Online">

</html>