body {
    background-color: #ADD8E6;
}

h1 {
    color: #000036;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000066;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

#loginGoogle{
    padding: 14px 16px;
    width: 100%;
    margin: 8px 0;
}

