<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/static/js/jquery-1.7.1.js"></script>
    <script src="/static/js/update.js"></script>
    <script th:inline="javascript">
    //This gets the csrf tokens and language code from the website
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        var updateMessage = [[#{update}]];
        /*]]>*/
    </script>
    <script>

	//This executes a long-poll that continuously checks for updates on the server
		$( function() {
		    update.updateId(updateMessage);
		    //alert(update.askUpdate());
		});
    </script>

    <title th:text="#{tron_main}"></title>
    <th:block th:include="fragments/head"/>


</head>
<body>
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{homepage}"></h1>
<p th:text="#{sudoku_description}"></p>
<p><img src="https://lh6.googleusercontent.com/d_pdWX9oAuMGg8TGVQET03Nq8YfkOg64J3CgjriHdekSRDmzQj_D39ew0-EYGOVJLjSw38eWbHmYhHhhb64J=w1920-h868" alt="Sudoku"></p>
<a th:href="@{/about_us}" th:text="#{main_page_map}"></a>

<h2>tron.online.heroku@gmail.com</h2>
<p>tron.online.heroku@gmail.com</p>
<p>+37258036167</p>

<!--<input type="hidden"-->
       <!--name="${_csrf.parameterName}"-->
       <!--value="${_csrf.token}"/>-->
<input type="hidden" th:name="${_csrf.parameterName}"
       th:value="${_csrf.token}"/>


<script src="/static/js/offline.js"></script>
<script>
    //This caches the page for offline use
		$( function() {
			if ( !offliner.isOffline ) {
				offliner.cacheCurrentPage();
				offliner.addCachingIframe();
			}

		});
</script>

</body>
</html>