<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org"  manifest="/offline.appcache">
<head>
    <title th:text="#{tron_main}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body>
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{homepage}"></h1>

<a th:href="@{/about_us}" th:text="#{main_page_map}" th:alt="#{main_page_map}"></input></a>

<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/offline.js"></script>
<script>
		$( function() {
			if ( !offliner.isOffline ) {
				offliner.cacheCurrentPage();
				offliner.addCachingIframe();
			}

		});
</script>
</body>
</html>