<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:lang="#{language_code}">
    <link rel="stylesheet" type="text/css" href="/static/css/stiil.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsOG10fC3idGbjmF9turyt2JVam0We8aE&callback=myMap"></script>
    <script src="/static/js/map.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/show.js"></script>

</head>
<body>
<header th:include="fragments/navigation :: navigation"/>

<button th:text="#{load_more}" onclick="myMap()"></button>
<div id="map" style="width:400px;height:400px"></div>
<p></p>

</body>
</html>