<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org"  manifest="/offline.appcache">
<head>
    <title th:text="#{tron_map}"></title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsOG10fC3idGbjmF9turyt2JVam0We8aE&callback=myMap"></script>
    <script src="/static/js/map.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/show.js"></script>
    <th:block th:include="fragments/head"/>
</head>
<body>
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{about_us}"></h1>

<button th:text="#{load_more}" onclick="myMap()"></button>
<div id="map" style="width:400px;height:400px"></div>
<p></p>




<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/offline.js"></script>
<script>
		$( function() {
			if ( !offliner.isOffline ) {
				offliner.cacheCurrentPage();
				offliner.addCachingIframe();
			}

		});
</script>
</body>
</html>