<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
    if (!window.jQuery) {
       var script = document.createElement('script');
       script.type = 'text/javascript';
       script.src = 'static/js/jquery-1.7.1.js';

       var firstScript = document.getElementsByTagName('script')[0];
       firstScript.parentNode.insertBefore(script, firstScript);
    }
    </script>
    <script src="/static/js/update.js"></script>

    <script th:inline="javascript">
    //This gets the csrf tokens and language code from the website
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        var updateMessage = [[#{update}]];
        /*]]>*/
    </script>

    <title th:text="#{tron_map}"></title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsOG10fC3idGbjmF9turyt2JVam0We8aE&callback=myMap"></script>
    <script src="/static/js/map.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/show.js"></script>
    <th:block th:include="fragments/head"/>
</head>
<body onload="cachePage(); update.updateId(updateMessage);">
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{about_us}"></h1>
<p th:text="#{introduction}"></p>
<h2 th:text="#{location}"></h2>
<button th:text="#{load_more}" onclick="myMap()"></button>
<div id="map" style="width:400px;height:400px"></div>
<p></p>
<script src="/static/js/offline.js"></script>
</body>
</html>