<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
    //This gets the csrf tokens and language code from the website
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        var updateMessage = [[#{update}]];
        /*]]>*/
    </script>
    <title th:text="#{tron_thread}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body onload="cachePage(); update.updateId(updateMessage);">
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{thread}"></h1>
<p th:if="${thread_created}" th:text="#{thread_created}"></p>
<form th:action="@{/new_thread}" th:object="${forumInputForm}" method="post">
    <p><label for="title" th:text="#{title}"></label></p>
    <input type="text" id="title" name="title" required/>
    <p><label for="context" th:text="#{context}"></label></p>
    <textarea rows="8" cols="80" id="context" name="context" required></textarea>
    <p><input type="reset" th:value="#{reset}">
    <input type="submit" th:value="#{submit}"></p>
</form>


<script src="/static/js/offline.js"></script>
</body>
</html>