<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
    //This gets the csrf tokens and language code from the website
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        var updateMessage = [[#{update}]];
        /*]]>*/
    </script>

    <title th:text="#{tron_post}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body onload="cachePage(); update.updateId(updateMessage);">
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{new_post}"></h1>

<p th:if="${post_added}" th:text="#{post_added}"></p>
<p th:if="${post_not_added}" th:text="#{post_not_added}"></p>

<form th:action="@{/new_post/}+${id}" th:object="${postInputForm}" method="post" action="/forum">
    <textarea rows="8" cols="80" id="reply" name="reply" required></textarea>
    <p><input type="reset" th:value="#{reset}">
    <input type="submit" th:value="#{submit}"></p>
</form>


<script src="/static/js/offline.js"></script>
</body>
</html>