<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:lang="#{language_code}" th:include="fragments/head :: head"/>
<body>
<header th:include="fragments/navigation :: navigation"/>

    <h2 th:text="#{sql_picture} +' '+ ${uploadForm.title}"></h2>
    <h2 th:text="#{sql_type} +' '+ ${uploadForm.type}"></h2>
    <h2 th:text="#{sql_username} +' '+ ${uploadForm.username}"></h2>
    <h2 th:text="#{sql_data}"></h2>
    <img th:src="${image}">
    <a th:href="@{/delete}"><input type="submit" th:value="#{delete}"/></input></a>


</body>
</html>