<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
    //This gets the csrf tokens and language code from the website
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        var updateMessage = [[#{update}]];
        /*]]>*/
    </script>
    <title th:text="${tron_display}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body onload="cachePage(); update.updateId(updateMessage);">
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="${form.title}"></h1>
<h4 th:text="${form.user}"></h4>
<p th:text="${form.context}"></p>
<p th:each="reply : ${replies}" th:text="${reply.reply }+' '+${reply.user}"></p>
<button><a th:href="@{/new_post/}+${form.id}" th:text="#{new_post}"></a></button>

<script src="/static/js/offline.js"></script>
</body>
</html>