<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<form th:action="@{/registration}" th:object="${registrationForm}" method="post">
        <p th:if="${invalidCredentials}" th:class="error">Username taken</p>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" autofocus="autofocus"/>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" autofocus="autofocus"/>
        <label for="check">Password check</label>
        <input type="password" id="check" name="check" autofocus="autofocus"/>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" autofocus="autofocus"/>
        <input type="submit" value="Register">
    </form>
</body>
</html>