<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"/>
<body>
<form th:action="@{/registration}" th:object="${registrationForm}" method="post">
        <p th:if="${invalidCredentials}" th:class="error" th:text="#{username_taken}"></p>
        <br><label for="name" th:text="#{name}"></label></br>
        <input type="text" id="name" name="name"/>
        <br><label for="username" th:text="#{username}"></label></br>
        <input type="text" id="username" name="username"/>
        <br><label for="password" th:text="#{password}"></label></br>
        <input type="password" id="password" name="password"/>
        <br><label for="check" th:text="#{check}"></label></br>
        <input type="password" id="check" name="check"/>
        <br><label for="email" th:text="#{email}"></label></br>
        <input type="text" id="email" name="email"/>
        <br><input type="submit" th:value="#{register}"></br>
    </form>
</body>
</html>