<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
        if (!window.jQuery) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'static/js/jquery-1.7.1.js';
            var firstScript = document.getElementsByTagName('script')[0];
            firstScript.parentNode.insertBefore(script, firstScript);
        }
    </script>

    <title th:text="#{tron_sitemap}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body onload="cachePage(); update.updateId(updateMessage);">
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{sitemap}"></h1>

<table>
    <tr>
        <th th:text="#{functions}"></th>
        <th th:text="#{info}"></th>
    </tr>
    <tr>
        <td><a th:href="@{/login}" th:text="#{login}"></a></td>
        <td><a th:href="@{/sitemap}" th:text="#{sitemap}"></a></td>
    </tr>
    <tr>
        <td><a th:href="@{/}" th:text="#{homepage}"></a></td>
        <td><a th:href="@{/statistics}" th:text="#{statistics}"></a></td>
    </tr>
    <tr>
        <td><a th:href="@{/about_us}" th:text="#{about_us}"></a></td>
        <td><a th:href="@{/privacy_policy}" th:text="#{privacy_policy}"></a></td>
    </tr>
    <tr>
        <td><a th:href="@{/play_game}" th:text="#{play_game}"></a></td>
        <td></td>
    </tr>
    <tr>
        <td ><a th:href="@{/user}" th:text="#{user}"></a></td>
        <td ></td>
    </tr>
    <tr>
        <td><a th:href="@{/upload}" th:text="#{upload}"></a></td>
        <td></td>
    </tr>
    <tr>
        <td><a th:href="@{/forum}" th:text="#{forum}"></a></td>
        <td ></td>
    </tr>
    <tr>
        <td><a th:href="@{/new_thread}" th:text="#{thread}"></a></td>
        <td ></td>
    </tr>
</table>


<script src="https://demozone-e2d6.kxcdn.com/static/js/offline.js"></script>
</body>
</html>