<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org"  manifest="/offline.appcache">
<head>
    <title th:text="#{tron_upload}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body>
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{upload}"></h1>

<p th:if="${picture_uploaded}" th:text="#{picture_uploaded}"></p>
<p th:if="${picture_not_uploaded}" th:text="#{picture_not_uploaded}"></p>
<p th:if="${picture_deleted}" th:text="#{picture_deleted}"></p>
<p th:if="${picture_exists}" th:text="#{picture_exists}"></p>

<form th:action="@{/upload}" th:object="${pictureForm}" enctype="multipart/form-data" method="post">
    <p><label for="data" th:text="#{picture}"></label></p>
    <input type="file" id="data" name="data" accept="image/*" required/>
    <input type="submit" th:value="#{submit}">
</form>


<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/offline.js"></script>
<script>
		$( function() {
			if ( !offliner.isOffline ) {
				offliner.cacheCurrentPage();
				offliner.addCachingIframe();
			}

		});
</script>
</body>
</html>