<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" manifest="/offline.appcache">
<head th:include="fragments/head :: head"/>
<body>
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{upload}"></h1>

<p th:if="${picture_uploaded}" th:text="#{picture_uploaded}"></p>
<p th:if="${picture_not_uploaded}" th:text="#{picture_not_uploaded}"></p>
<p th:if="${picture_deleted}" th:text="#{picture_deleted}"></p>
<p th:if="${picture_exists}" th:text="#{picture_exists}"></p>

<form th:action="@{/upload}" th:object="${pictureForm}" enctype="multipart/form-data" method="post">
    <p><label for="data" th:text="#{picture}"></label></p>
    <input type="file" id="data" name="data" accept="image/*" required/>
    <input type="submit" th:value="#{submit}">
</form>
</body>
</html>