<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:lang="#{language_code}" th:include="fragments/head :: head"/>
<body>
<header th:include="fragments/navigation :: navigation"/>

<form th:action="@{/upload_picture}" th:object="${pictureUploadForm}" method="post">
    <p th:if="${pictureNotUploaded}" th:class="error" th:text="#{picture_not_uploaded}"></p>
    <p><label for="data" th:text="#{picture}"></label></p>
    <input type="file" id="data" name="data" required/>
    <input type="submit" th:value="#{submit}">
</form>

</body>
</html>