<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  manifest="/offline.appcache">
<head>
    <title th:text="#{tron_user}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body>
<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{user}"></h1>

<p th:text="#{sql_name}"></p>
<p th:text="${name}"></p>

<p th:text="#{sql_username}"></p>
<p th:text="${id}"></p>

<p th:text="#{sql_locale}"></p>
<p th:text="${locale}"></p>

<p th:text="#{sql_type}"></p>
<p th:text="${type}"></p>

<p th:text="#{sql_picture}"></p>
<p th:text="${picture_name}"></p>

<p th:text="#{sql_data}"></p>
<img th:src="${image}">
<a th:href="@{/delete}"><input type="submit" th:value="#{delete}"/></input></a>


<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/offline.js"></script>
<script>
		$( function() {
			if ( !offliner.isOffline ) {
				offliner.cacheCurrentPage();
				offliner.addCachingIframe();
			}

		});
</script>

</body>
</html>