<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
    if (!window.jQuery) {
       var script = document.createElement('script');
       script.type = 'text/javascript';
       script.src = 'static/js/jquery-1.7.1.js';

       var firstScript = document.getElementsByTagName('script')[0];
       firstScript.parentNode.insertBefore(script, firstScript);
    }
    </script>

    <script th:inline="javascript">
    //This gets the csrf tokens and language code from the website
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        var updateMessage = [[#{update}]];
        /*]]>*/
    </script>

    <title th:text="#{tron_user}"></title>
    <th:block th:include="fragments/head"/>
</head>
<body onload="cachePage(); update.updateId(updateMessage);">

<header th:include="fragments/navigation :: navigation"/>

<h1 th:text="#{user}"></h1>

<p th:text="#{sql_name}"></p>
<p th:text="${name}"></p>

<p th:text="#{sql_username}"></p>
<p th:text="${id}"></p>

<p th:text="#{sql_locale}"></p>
<p th:text="${locale}"></p>

<p th:text="#{sql_type}"></p>
<p th:text="${type}"></p>

<p th:text="#{sql_picture}"></p>
<p th:text="${picture_name}"></p>

<p th:text="#{sql_data}"></p>
<img th:src="${image}">
<a th:href="@{/delete}"><input type="submit" th:value="#{delete}"/></input></a>


</body>
</html>